env/
.venv/
dataset/images/
*.csv
*.so
*.so.*real_implementation/models/cache/
__pycache__/
*.pyc
real_implementation/models/cache/
__pycache__/
fine_tuned_model/
mechanistic_system/
models/
outputs/
*.pyc
real_implementation/

gender_bias_experiment_results/

mech_intrep/
AIN_model/
mech_test/


sae_captioning_project/data/raw/
sae_captioning_project/checkpoints/
sae_captioning_project/checkpoints/activations_arabic.pt/
sae_captioning_project/checkpoints/activations_english.pt/
*.hf_cache/